<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leiterbereich
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leiterbereich</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <!--<img src = "https://attila-teufen.weebly.com/uploads/2/6/6/5/26659704/7273338_orig.jpg">-->
    <ion-card-header id="A">Welcome to targets</ion-card-header>
    <ion-button *ngFor="let soundname of soundboard_list" color = "beaver" (click) = "playAudio(soundname)" > {{ soundname }} </ion-button>
    <!-- <ion-button color = "beaver" (click) = "playAudio('1')" >Gied2</ion-button>
    <ion-button color = "beaver" (click) = "playAudio('1')" >12345</ion-button>
    <ion-button color = "beaver" (click) = "playAudio('1')" >Öl</ion-button> -->
  </ion-card>
</ion-content>
