<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Leiterbereich
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leiterbereich</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color = "beaver">
    <img src = "https://attila-teufen.weebly.com/uploads/2/6/6/5/26659704/7273338_orig.jpg">
    <ion-card-header>Welcome to targets</ion-card-header>
      <ion-card-content>You have been chunged</ion-card-content>
  </ion-card>
</ion-content>
