<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Neuigkeiten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">news</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.vLM2mYiZSxjmDzMsAnJ2vgHaEK%26pid%3DApi&f=1">
      <ion-card-header>Big Chungus</ion-card-header> 
      <ion-card-content>You have been chunged</ion-card-content>
    </ion-card>
  
</ion-content>
