<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Neuigkeiten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card *ngFor = "let activity of activities">
      <img src = "{{base_url + 'images/' + activity.image}}">
      <ion-card-header color = {{activity.group}}>{{activity.name}}</ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngIf = "activity.end_date == null; else hasEndDate">Datum: {{activity.date | date : 'EEE, d. MMM y'}}</ion-item> <!-- customize dateformate (https://angular.io/api/common/DatePipe)-->

          <ng-template #hasEndDate>
            <ion-item>Datum: {{activity.date | date}} - {{activity.end_date | date}}</ion-item>
          </ng-template>

          <ion-item>Zeit: {{activity.time}}</ion-item>
          <ion-item>Ort: {{activity.place}}</ion-item>
          <ion-item>Mitnehmen: {{activity.take_away}}</ion-item>
          <ion-item>Sonstiges: {{activity.other}}</ion-item>
        </ion-list> 
      </ion-card-content>
    </ion-card>
  </ion-list>


</ion-content>
