<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Neuigkeiten
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card>
      <img src = {{frontimage}}>
      <ion-card-header>Big Chungus</ion-card-header> 
      <ion-card-content>You have been chunged</ion-card-content>
    </ion-card>
  <ion-button color = "beaver" (click) = "changeImage(bilder.bieber)">beeber</ion-button>
  <ion-button color = "wolves" (click) = "changeImage(bilder.wolfe)">woelf</ion-button>
  <ion-button color = "scouts" (click) = "changeImage(bilder.faader)">faader</ion-button>
  <ion-button color = "pios" (click) = "changeImage(bilder.lumpe)">lumpe</ion-button>

</ion-content>
